{% extends 'layout.html.twig' %}

{% block title %}
  home
{% endblock %}

{% block content %}
  <div class="banner">
    <img class="imgBanner" src="{{ asset('images/lissagePage/page-lissage-banner-img.png') }}" alt="banner" />
    <div class="title-btn-banner">
      <h1 class="title">Le Lissage & le Soin</h1>
      <a class="banner-btn"  href="{{ path('app_contact') }}">Réservez votre soin</a>
    </div>
  </div>
  <div class="bodyContent">
    <p class="homeParagraphe">Le lissage des cheveux est une technique qui permet de transformer votre coiffure et de vous donner une apparence plus soignée et professionnelle. Si vous êtes une femme qui cherche à avoir des cheveux lisses et brillants, le lissage est une excellente option pour vous. Non seulement cela vous permettra d'avoir des cheveux plus faciles à coiffer, mais cela vous aidera également à gagner en confiance en vous-même et à vous sentir belle et sûre de vous. Avec le lissage, vous pouvez dire adieu aux frisottis et aux mèches rebelles, et accueillir une chevelure lisse et élégante qui mettra en valeur votre beauté naturelle. Alors n'hésitez plus, prenez rendez-vous pour un lissage professionnel et laissez-vous séduire par une nouvelle coiffure qui transformera votre apparence et votre estime de vous-même.</p>

    <div class="imagesHome">
      <img class="imgHome" src="{{ asset('images/home/imageHome3.jpeg') }}" alt="img" />
      <img class="imgHome" src="{{ asset('images/home/imageHome1.jpeg') }}" alt="img" />
      <img class="imgHome" src="{{ asset('images/home/imageHome2.jpeg') }}" alt="img" />
      <div class="motLissage">Lissage</div>
    </div>
    <div class="products">
      <img class="imgHomeProducts" src="{{ asset('images/home/imageHomeProducts.png') }}" alt="image of product" />
    </div>
    <div class="service-home-container">
    <div class="card container-service-card" >
  <img src="{{ asset('images/home/soin.jpeg') }}" class="card-img-top img-card-home" alt="soins cheveux">
  <div class="card-body">
    <h5 class="card-title">Soin des cheveux</h5>
    <p class="card-text">Applications de lotion et autres soins.</p>
    <a href="{{ path('app_contact') }}" class="btn btn-card-home">Réservez</a>
  </div>
</div>
<div class="card container-service-card" >
  <img src="{{ asset('images/home/lissage.jpeg') }}" class="card-img-top img-card-home" alt="Lissages">
  <div class="card-body">
    <h5 class="card-title">Lissages</h5>
    <p class="card-text">Choisissez votre technique de lissage.</p>
    <a href="{{ path('app_contact') }}" class="btn btn-card-home">Réservez</a>
  </div>
</div>
<div class="card container-service-card" >
  <img src="{{ asset('images/home/traitment.jpeg') }}" class="card-img-top img-card-home" alt="Traitements">
  <div class="card-body">
    <h5 class="card-title">Traitements</h5>
    <p class="card-text">Décoloration ou rajeunissement du cuir chevelu.</p>
    <a href="{{ path('app_contact') }}" class="btn  btn-card-home">Réservez</a>
  </div>
</div>
    {# <div class="container-service-card">
    <img class="imgDryer" src="{{ asset('images/home/soin.jpeg') }}" alt="dryer"/>
    <p class="card-title">Soin des cheveux</p>
    <p>Applications de lotion et autres soins</p>
    <a class="btnCard" href="{{ path('app_contact') }}">Réservez</a>
    </div> #}
    {# <div class="container-service-card">
    <img class="imgDryer" src="{{ asset('images/home/lissage.jpeg') }}" alt="dryer"/>
    <p class="card-title">Lissages</p>
    <p>Choisissez votre technique de lissage</p>
    <a class="btnCard" href="{{ path('app_contact') }}">Réservez</a>
    </div>
        <div class="container-service-card">
    <img class="imgDryer" src="{{ asset('images/home/traitment.jpeg') }}" alt="dryer"/>
    <p class="card-title">Traitements</p>
    <p>Décoloration ou rajeunissement du cuir chevelu</p>
    <a class="btnCard" href="{{ path('app_contact') }}">Réservez</a>
    </div> #}
  </div>
{% endblock %}
