{% extends 'layout.html.twig' %}

{% block title %}
  home
{% endblock %}

{% block content %}
  <div class="banner">
    <img class="imgBanner" src="{{ asset('images/lissagePage/page-lissage-banner-img.png') }}" alt="banner" />
    <div class="title-btn-banner">
      <h1 class="title">Le Lissage & le Soin</h1>
      <a class="banner-btn"  href="{{ path('app_contact') }}">Réservez votre soin</a>
    </div>
  </div>
  <div class="bodyContent">
    <p class="homeParagraphe">Qui ne s’est jamais retournée sur le passage d’une femme avec de magnifiques cheveux longs ?

De beaux cheveux suscitent l’admiration et attirent le regard

De tout temps et de toute culture, la chevelure est le symbole de l’élégance, de la beauté et de la féminité, et il y en a pour toute les couleurs :

Les cheveux blonds évoquent la beauté solaire

Les cheveux roux ou blonds vénitiens ont une connotation de sensualité

Les cheveux bruns ou noirs évoquent l’animalité, l’aventure ou le mystère

Les cheveux poivre et sel traduisent un âge charnière, un certain équilibre, ou encore la dualité réconciliée,

Les cheveux blancs évoquent la sagesse.

 

Les femmes ont toujours recherchées à avoir les cheveux longs, raides, brillants à effet miroir.

Ici, vous trouverez des techniques et des produits pour transformer vos cheveux en satin de soie, et sans aucun doute, qu’ils susciteront l’admiration, attireront les regards et qu’on se retournera à votre passage !

Bienvenue chez Liss&Versa.</p>

    <div class="imagesHome">
      <img class="imgHome" src="{{ asset('images/home/imageHome3.jpeg') }}" alt="img" />
      <img class="imgHome" src="{{ asset('images/home/imageHome1.jpeg') }}" alt="img" />
      <img class="imgHome" src="{{ asset('images/home/imageHome2.jpeg') }}" alt="img" />
      <div class="motLissage">Lissage</div>
    </div>
    <div class="products">
      <img class="imgHomeProducts" src="{{ asset('images/home/imageHomeProducts.png') }}" alt="image of product" />
    </div>
    <div class="service-home-container">
    <div class="card container-service-card" >
  <img src="{{ asset('images/home/soin.jpeg') }}" class="card-img-top img-card-home" alt="soins cheveux">
  <div class="card-body">
    <h5 class="card-title">Soin des cheveux</h5>
    <p class="card-text">Applications de lotion et autres soins.</p>
    <a href="{{ path('app_contact') }}" class="btn btn-card-home">Réservez</a>
  </div>
</div>
<div class="card container-service-card" >
  <img src="{{ asset('images/home/lissage.jpeg') }}" class="card-img-top img-card-home" alt="Lissages">
  <div class="card-body">
    <h5 class="card-title">Lissages</h5>
    <p class="card-text">Choisissez votre technique de lissage.</p>
    <a href="{{ path('app_contact') }}" class="btn btn-card-home">Réservez</a>
  </div>
</div>
<div class="card container-service-card" >
  <img src="{{ asset('images/home/traitment.jpeg') }}" class="card-img-top img-card-home" alt="Traitements">
  <div class="card-body">
    <h5 class="card-title">Traitements</h5>
    <p class="card-text">Décoloration ou rajeunissement du cuir chevelu.</p>
    <a href="{{ path('app_contact') }}" class="btn  btn-card-home">Réservez</a>
  </div>
</div>
    {# <div class="container-service-card">
    <img class="imgDryer" src="{{ asset('images/home/soin.jpeg') }}" alt="dryer"/>
    <p class="card-title">Soin des cheveux</p>
    <p>Applications de lotion et autres soins</p>
    <a class="btnCard" href="{{ path('app_contact') }}">Réservez</a>
    </div> #}
    {# <div class="container-service-card">
    <img class="imgDryer" src="{{ asset('images/home/lissage.jpeg') }}" alt="dryer"/>
    <p class="card-title">Lissages</p>
    <p>Choisissez votre technique de lissage</p>
    <a class="btnCard" href="{{ path('app_contact') }}">Réservez</a>
    </div>
        <div class="container-service-card">
    <img class="imgDryer" src="{{ asset('images/home/traitment.jpeg') }}" alt="dryer"/>
    <p class="card-title">Traitements</p>
    <p>Décoloration ou rajeunissement du cuir chevelu</p>
    <a class="btnCard" href="{{ path('app_contact') }}">Réservez</a>
    </div> #}
  </div>
{% endblock %}
