{% extends 'layout.html.twig' %}
{% block title %}
  {{ lissage.titre }}
{% endblock %}

{% block content %}
  <div class="banner">
    <img class="imgBanner" src="{{ asset('images/lissagePage/page-lissage-banner-img.png') }}" alt="banner" />
    <h1 class="title title-lissage-page-banner">{{ lissage.titre }}</h1>
  </div>
  <div class="service-description-container">
    <h2>{{ lissage.titre }}</h2>
    <p>{{ lissage.description }}</p>
    <img class="img-service" src="{{ asset('images/service/' ~ lissage.image) }}" alt="lissage" />
    <ul class="prix-container">
      <li class="serivce-prix">Cheveux courts {{ lissage.CheveuxCourtsPrix }} €</li>
      <li class="serivce-prix">Cheveux moyens {{ lissage.cheveuxMoyensPrix }} €</li>
      <li class="serivce-prix">Cheveaux longs {{ lissage.cheveauxLongsPrix }} €</li>
    </ul>
    <button class="banner-btn btn-page-lissage">Prendre rendez-vous</button>
  </div>
{% endblock %}
